h1 {
    margin-left: 0.25em;
}

input.letter:first-of-type {
    margin-left: 0.5em;
}

table {
    border: 1px solid black;
    padding: 1em;
    margin: 0.5em;
}

th {
    align: center;
    padding: 0.25em;
    width: 40%;
    text-transform: capitalize;
}

td {
    align: center;
    padding: 0.25em;
}

td#tense {
    font-weight: bold;
}

table.present {
    background-color: #f77bcd;
}

table.preterite {
    background-color: #70dafa;
}

table.imperfect {
    background-color: #91f388;
}

table.perfect {
    background-color: #cf94f7;
}

table.pluperfect {
    background-color: #fa8264;
}

table.future {
    background-color: #6493fa;
}

table.conditional {
    background-color: #ebfa64;
}